# Exercício 02 – Unindo dados com Pandas
### a) Crie um dataframe para cada um dos arquivos nba_2015_a.csv, nba_2015_b.csv, nba_2015_c.csv e bust_nba_2015.csv. Chame esses dataframes de df_a, df_b, df_c, bust, respectivamente.

In [5]:
import pandas as pd

path = 'C:\\Users\\FIC\\CURSO PYTHON - FELIPE MUNHOS\\Arquivos\\nba\\'
file = 'bust_nba_2015.csv'

df = pd.read_csv( path + file)

In [9]:

path = 'C:\\Users\\FIC\\CURSO PYTHON - FELIPE MUNHOS\\Arquivos\\nba\\'
file = 'bust_nba_2015.csv'

df = pd.read_csv( path + file)

### b) Visualize o head() de cada um dos dataframes.

In [7]:
df.head()

                   ID      Bust
0  karl-anthony-towns  0.274967
1     justise-winslow  0.228800
2     stanley-johnson  0.229967
3       jahlil-okafor  0.295850
4    d-angelo-russell  0.409100

### c) Concatene os arquivos df_a, df_b e df_c, usando a função concat() usando os índices. Salve um dataframe chamado df_total.