## a) Abra o arquivo World Happiness.

In [29]:
import pandas as pd

# Acessar os dados do arquivo e colocar em um dataframe

path = 'C:\\Users\\FIC\CURSO PYTHON - FELIPE MUNHOS\\Arquivos\\'
file = 'world_happiness_report_2015.csv'

# Acessar os dados do arquivo e colocar em um dataframe

df = pd.read_csv( path + file)


df.head()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

### b) Qual a média do score_felicidade?

In [37]:
media = df['happiness score'].mean()

# A função round trata a quantidade de numeros após a virgula

media = round(media,3)

print ('A média de coluna happpiness Score é:', media)

A média de coluna happpiness Score é: 5.424

### c) Qual a soma do PIB?

In [39]:
soma = df ['economy (GDP per Capita)'].sum()

print ( 'A soma da coluna PIB é:',soma)

A soma da coluna PIB é: 141.37172

### d) Qual a soma do freedom e corrupção?

In [40]:
df [['freedom', 'trust (Government Corruption)']].sum()

freedom                          71.33320
trust (Government Corruption)    24.59645
dtype: float64

### e) Há dados duplicados? Quantos? Verifique quais são eles?

In [46]:
#   Quantidade de elementos duplicados

df.duplicated().sum()

6

In [49]:
 # Quais são os registros duplicados ?

df[df.duplicated()==True]

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
11,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
12,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
13,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
14,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
34,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
35,Venezuela,Latin America and Caribbean,23,6.810,0.06476,1.04424,1.25596,0.72052,0.42908,0.11069,0.05841,3.19131

### f) Verifique a quantidade de dados faltantes.

In [52]:
df.isnull().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   8
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

#### g) Crie um dataframe onde os valores faltantes de score_felicidade sejam substituídos por -9999.

In [54]:
 #df.loc[:,['A','B']] = df.loc [:,['A','B']].fillna(99)

# O comando df.loc está selecionando todas as linhas (:)da coluna happiness scorre
# e então os nulos são substituidos por - 9999

df.loc[:,['happiness score']] = df.loc[:,['happiness score']].fillna(-9999)

df.isnull().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   0
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

### h) Quantas e quais são as regiões existentes nos dados?

In [60]:

# Calcula a quantidade de registros duplicados

df.region.duplicated().sum()

# Quantas regiões destintas

df_region = df.region.drop_duplicates()

In [65]:
# Quantas regiões destintas

df_region = df.region.drop_duplicates()

In [66]:
df.region.value_counts()

region
Sub-Saharan Africa                 40
Central and Eastern Europe         29
Western Europe                     24
Latin America and Caribbean        23
Middle East and Northern Africa    21
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       3
Australia and New Zealand           2
Name: count, dtype: int64

# Quantas regiões destintas

df_region = df.region.drop_duplicates()

### i) Verifique a frequência dos dados segundo suas regiões. Qual a região com maior quantidade de dados? E a região com a menor quantidade?